html, body {
  padding: 0;
  margin: 0;
}

#background {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;;
  background-position: center center;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}
.no-webp #background {
  background-image: url('../image/cat.png');
}
.webp #background{
  background-image: url('../image/cat.webp');
}

#mainClock {
  filter: blur(0.7px);
  text-align: center;
  width: 100%;
  height: 50%;
  padding-top: 20%;
  color: #ffffff;
  text-shadow: 2px 2px #aaaaaa;
  font-size: 20vmin;
  opacity: 0.9;
  border-bottom: 1px solid #fff;
  font-family: 'Inconsolata', monospace;
}
